---
layout: index
title: Home
permalink: /
---

</br></br>
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-cogs"></i>
                <h4>Services</h4>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-code"></i>
                <h4>Open Source</h4>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Quality</h4>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST PROJECTS" limit=5 %}

<div class="container mtb">
    <div class="row">

        <div class="col-lg-4">
            <h3>TWITTER WIDGET</h3>
        </div>

        <div class="col-lg-4">
            <h3>EVENTS</h3>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <h3>BLOG</h3>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:2 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
            {% endfor %}
        </div>


    </div><! --/row -->
</div><! --/container -->
